$body-background-color: #1c1c1c;
$text-colorform: #fff;
$form-background-color: #333;
$form-input-background: #555;
$form-button-background: #BA966E;
$form-button-hover-background: #8a714e;
$font-family-k2d: "K2D"; 
$menu-link-color: #BA966E;
$menu-link-hover-color: #f1f1f1;
$menu-btn-size: 30px;
$footer-bg-color: #1a1a1a;
$footer-text-color: #fff;
$footer-padding: 2%;

.k2d-semibold {
    font-family: $font-family-k2d;
    font-weight: 600;
    font-style: normal;
}

body {
  background-color: $body-background-color;
  color: $text-colorform;
  overflow-x: hidden;
  font-size: 16px; 
}


#menu-toggle {
    display: none;
    
  }
  
  .menu-btn {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    color: #fff;
    transition: 0.5s;
    z-index: 4;
  
    span {
        display: block;
        background-color: $form-button-background;
        height: 3px;
        width: 30px;
        margin: 6px 0;
        transition: 0.5s;
    }
  }
  
  #menu-toggle:checked + .menu-btn span:nth-child(1) {
    opacity: 0;
  }
  
  #menu-toggle:checked + .menu-btn span:nth-child(2) {
    transform: rotate(45deg) translate(0, 0);
  }
  
  #menu-toggle:checked + .menu-btn span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  #menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #00000086;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 3;
  }
  
  #menu-toggle:checked + .menu-btn + #menu {
    right: 0;
  }
  
  #menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: $menu-link-color;
    display: block;
    transition: 0.3s;
    font-family: $font-family-k2d;
  
    &:hover {
        color: $menu-link-hover-color;
    }
  }
  




h2 {
    text-align: left;
    color: $form-button-background;
    font-family: $font-family-k2d;
    margin-bottom: 1em; 
  }

.reservation-form {
  background-color: $form-background-color;
  padding: 2em; 
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 0 auto;

  

  .form-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 5%; 
  }

  .form-group {
    margin-bottom: 1em;

    label {
      color: lighten($text-colorform, 25%);
      font-size: 0.9em; 
      font-family: $font-family-k2d
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="time"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 0.5em; 
      border-radius: 5px;
      border: none;
      font-size: 1em; 
      background-color: $form-input-background;
      font-family: $font-family-k2d;
      color: $text-colorform;
    }

    textarea {
      resize: vertical;
    }
  }

  .full-width {
    width: 100%;
  }

  button[type="submit"] {
    background-color: $form-button-background;
    color: $text-colorform;
    border: none;
    padding: 0.5em 1em; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; 
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $form-button-hover-background;
    }
  }
}


@media screen and (max-width: 768px) {
  .reservation-form {
    padding: 1.5em; 
    h2 {
      font-size: 1.2em; 
      margin-bottom: 1em;
    }

    .form-group {
      margin-bottom: 1em;

      label {
        font-size: 0.8em; 
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="date"],
      input[type="time"],
      input[type="number"],
      textarea {
        padding: 0.8em; 
        font-size: 0.9em; 
      }
    }

    button[type="submit"] {
      font-family: $font-family-k2d;
      padding: 0.5em 1em; 
      font-size: 1em; 
    }
  }
}

footer {
  width: 100%;
  background: $footer-bg-color;
  color: $footer-text-color;
  padding: $footer-padding;

  .footer-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    max-width: calc(100% - #{$footer-padding * 2}); 
    margin: 0 auto; 
  }

  .footer-logo img {
    max-width: 100%;
    height: auto;
    width: 10vw;
    margin-right: 20px; 
  }

  .footer-divider {
    height: 80px; 
    border-left: 2px solid $footer-text-color; 
    margin: 0 20px; 
  }

  .footer-social {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px; 
      position: relative;
      font-family: $font-family-k2d;

      img {
        max-width: 100%;
        height: auto;
        width: 3vw;
        transition: filter 0.3s;
      }

      &:hover {
        img {
          filter: brightness(70%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
    .footer-logo img {
      width: 20vw; 
      margin-right: 10px; 
    }

    .footer-divider {
      display: none; 
    }

    .footer-social {
      a {
        margin-right: 5px; 
      }
    }
  }
